body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
  
}
.logo{
    align-items: center;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 30px;
}
.logo >img{
    width: 180px;
}
.menu > ul{
    display: flex;
    text-decoration: none;

}
.menu > ul > li{
    text-decoration: none;
    padding-left: 30px;
    list-style-type: none;
    font-weight: 550;
}
.sale{
    color: rgb(224, 26, 26);
}
.col3{
    margin-left: 130px;
    display: flex;
}
.search-png{
    width: 25px;
    padding-top: 13px;
}
.searchtxt{
padding-left: 5px;
}
.delivery-sec{
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 40px;
    background-color: rgb(195, 13, 13);
}
.delivery-sec-img >img{
    width:50px;
    background-color: red;
}
.delivery-sec-txt{
    font-size: small;
}
.delivery-sec-txt > p{
    color: aliceblue;
    margin-top: 0px;
    padding-top: -400px;
}
.delivery-sec-txt > h5{
    color: aliceblue;
    margin-bottom: 0px;
    padding-bottom: -900px;
}
.cards{
    height: 400px;
    border: 1px solid black;
}