
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
  
}
.logo{
    
    align-items: center;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 30px;
}

.logo >img{
    width: 180px;
    height: 40px;
}
.menu > ul{

    display: flex;
    text-decoration: none;

}

.menu > ul > li{

    text-decoration: none;
    padding-left: 30px;
    list-style-type: none;
    font-weight: 550;
}

.sale{
    color: rgb(224, 26, 26);
}
.col3{
    margin-left: 130px;
    display: flex;
}
.search-png{
    width: 25px;
    height: 20px;
    padding-top: 25px;
}
.searchtxt{
padding-left: 5px;
}
.delivery-sec{

    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 40px;
    background-color: rgb(195, 13, 13);
}

.delivery-sec-img >img{
    width:50px;
    height: 65px;
    border-radius: 40px;
    background-color: red;
}
.delivery-sec-txt{
    font-size: small;
}
.delivery-sec-txt > p{

    color: aliceblue;
    margin-top: 0px;
    padding-top: -400px;
}

.vh-icon{
    width: 25px;
    height: 25px;
    margin-top: -100px;
} 

.delivery-sec-txt > h5{
    color: aliceblue;
    margin-bottom: 0px;
    padding-bottom: -900px;
}


#container {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    color: black;
    /* border: 1px solid red; */
    height: auto;
    margin: 10px;
    flex-basis: calc(25% - 20px);
    max-width: 260px;
}

.card>img {
    width: 100%;
    height: 350px;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 5px;
}

.top-right {
    position: absolute;
    top: 0px;
    right: -3px;
}
.heart-icon{
    height: 25px;
    width: 25px;
    margin-top: 7px;
    margin-right: 5px;
}

.top-left {
    /* background-color: aquamarine; */
    background: linear-gradient(to right, rgb(54, 220, 46), rgb(3, 169, 191));
    color: white;
    font-size: 12px;
    padding: 5px;
    width: 90px;
    text-align: center;
}

#bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#bottom-section p,
#bottom-section h3,
#bottom-section h4 {
    margin: 10px;
}

input[type="radio"] {
    transform: scale(1.6);
}

.icon-container {
    display: flex;
    align-items: center;
}

label {


    color: rgb(109, 109, 109);
}




.cards{
    height: 400px;
    border: 1px solid black;

}
#container3 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#content3 {
    height: 400px;
    width: 250px;
}

#cc {
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    background-color: rgb(243, 240, 240);
}

#cc>div>p {
    font-size: 10px;
    background-color: rgb(19, 108, 24);
    /* border: 1px solid rgb(243, 247, 241); */
    border-width: 3px;
    background-image: linear-gradient(to right, rgb(120, 251, 91), rgb(0, 162, 255));
    padding: 4px;
}

#im {
    height: 18px;
    width: 18px;
    margin-top: 7px;
    margin-right: 5px;
}

img {
    margin-top: -10px;
    height: 300px;
    width: 100%;

}

.la>p {
    font-size: 10px;
    margin-top: -62px;
    color: rgb(84, 74, 74);
}

#qq>H3 {
    font-size: 13px;
    margin-top: -45px;
    color: rgb(84, 74, 74);
}

#qq>h4 {
    font-size: 14px;
    margin-top: -7px;
}

.la {
    display: flex;
    justify-content: space-between;
    width: 245px;
}

.la>img {
    height: 25px;
    width: 25px;
    margin-top: -70px;
}

input[type="radio"] {
    transform: scale(1.1);

}

.whi {
    display: flex;
    margin-top: -15px;
    margin-left: -5px;
    gap: 2PX;
}

.wh {
    font-size: 12px;
    margin-top: 2px;
    /* text-align: center; */
}